<ion-content class="bet-view" scroll="false">
	<div class="sub-Navs" item-class="col-31">
		<ion-scroll id="sub-navs" direction="x" scrollbar-x="false" delegate-handle="sub-navs">
			<div class="row" ng-init="shareData.subIndex=2">
				<div class="col sub-col col-50" ng-class="{navActive:shareData.subIndex==2}">
					<a class="item nav-item" ng-click="selectSubnav(2);">特码B</a>
				</div>
				
				<div class="col sub-col col-50" ng-class="{navActive:shareData.subIndex==1}">
					<a class="item nav-item" ng-click="selectSubnav(1);">特码A</a>
				</div>
			</div>
		</ion-scroll>
	
		<div class="nav-content">
			<ion-content class="tp40">
				<div ng-if="shareData.subIndex==1">
					<div class="row text-center"><div class="col title-no">特码A</div></div>
				
					<div class="row">
						<div class="col col-33 bet ok" data-id="708501"><div class="bet-content"><span class="round-3 red">01</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708502"><div class="bet-content"><span class="round-3 red">02</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708503"><div class="bet-content"><span class="round-3 blue">03</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708504"><div class="bet-content"><span class="round-3 blue">04</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708505"><div class="bet-content"><span class="round-3 green">05</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708506"><div class="bet-content"><span class="round-3 green">06</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708507"><div class="bet-content"><span class="round-3 red">07</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708508"><div class="bet-content"><span class="round-3 red">08</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708509"><div class="bet-content"><span class="round-3 blue">09</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708510"><div class="bet-content"><span class="round-3 blue">10</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708511"><div class="bet-content"><span class="round-3 green">11</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708512"><div class="bet-content"><span class="round-3 red">12</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708513"><div class="bet-content"><span class="round-3 red">13</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708514"><div class="bet-content"><span class="round-3 blue">14</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708515"><div class="bet-content"><span class="round-3 blue">15</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708516"><div class="bet-content"><span class="round-3 green">16</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708517"><div class="bet-content"><span class="round-3 green">17</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708518"><div class="bet-content"><span class="round-3 red">18</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708519"><div class="bet-content"><span class="round-3 red">19</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708520"><div class="bet-content"><span class="round-3 blue">20</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708521"><div class="bet-content"><span class="round-3 green">21</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708522"><div class="bet-content"><span class="round-3 green">22</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708523"><div class="bet-content"><span class="round-3 red">23</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708524"><div class="bet-content"><span class="round-3 red">24</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708525"><div class="bet-content"><span class="round-3 blue">25</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708526"><div class="bet-content"><span class="round-3 blue">26</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708527"><div class="bet-content"><span class="round-3 green">27</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708528"><div class="bet-content"><span class="round-3 green">28</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708529"><div class="bet-content"><span class="round-3 red">29</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708530"><div class="bet-content"><span class="round-3 red">30</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708531"><div class="bet-content"><span class="round-3 blue">31</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708532"><div class="bet-content"><span class="round-3 green">32</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708533"><div class="bet-content"><span class="round-3 green">33</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708534"><div class="bet-content"><span class="round-3 red">34</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708535"><div class="bet-content"><span class="round-3 red">35</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708536"><div class="bet-content"><span class="round-3 blue">36</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708537"><div class="bet-content"><span class="round-3 blue">37</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708538"><div class="bet-content"><span class="round-3 green">38</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708539"><div class="bet-content"><span class="round-3 green">39</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708540"><div class="bet-content"><span class="round-3 red">40</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708541"><div class="bet-content"><span class="round-3 blue">41</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708542"><div class="bet-content"><span class="round-3 blue">42</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708543"><div class="bet-content"><span class="round-3 green">43</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708544"><div class="bet-content"><span class="round-3 green">44</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708545"><div class="bet-content"><span class="round-3 red">45</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-50 bet ok" data-id="708546"><div class="bet-content"><span class="round-3 red">46</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-50 bet ok" data-id="708547"><div class="bet-content"><span class="round-3 blue">47</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-50 bet ok" data-id="708548"><div class="bet-content"><span class="round-3 blue">48</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-50 bet ok" data-id="708549"><div class="bet-content"><span class="round-3 green">49</span></div><div class="bet-item">48.6</div></div>
					</div>
				</div>
			
				<div ng-if="shareData.subIndex==2">
					<div class="row text-center"><div class="col title-no">特码B</div></div>
				
					<div class="row">
						<div class="col col-33 bet ok" data-id="708550"><div class="bet-content"><span class="round-3 red">01</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708551"><div class="bet-content"><span class="round-3 red">02</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708552"><div class="bet-content"><span class="round-3 blue">03</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708553"><div class="bet-content"><span class="round-3 blue">04</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708554"><div class="bet-content"><span class="round-3 green">05</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708555"><div class="bet-content"><span class="round-3 green">06</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708556"><div class="bet-content"><span class="round-3 red">07</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708557"><div class="bet-content"><span class="round-3 red">08</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708558"><div class="bet-content"><span class="round-3 blue">09</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708559"><div class="bet-content"><span class="round-3 blue">10</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708560"><div class="bet-content"><span class="round-3 green">11</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708561"><div class="bet-content"><span class="round-3 red">12</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708562"><div class="bet-content"><span class="round-3 red">13</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708563"><div class="bet-content"><span class="round-3 blue">14</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708564"><div class="bet-content"><span class="round-3 blue">15</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708565"><div class="bet-content"><span class="round-3 green">16</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708566"><div class="bet-content"><span class="round-3 green">17</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708567"><div class="bet-content"><span class="round-3 red">18</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708568"><div class="bet-content"><span class="round-3 red">19</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708569"><div class="bet-content"><span class="round-3 blue">20</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708570"><div class="bet-content"><span class="round-3 green">21</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708571"><div class="bet-content"><span class="round-3 green">22</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708572"><div class="bet-content"><span class="round-3 red">23</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708573"><div class="bet-content"><span class="round-3 red">24</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708574"><div class="bet-content"><span class="round-3 blue">25</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708575"><div class="bet-content"><span class="round-3 blue">26</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708576"><div class="bet-content"><span class="round-3 green">27</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708577"><div class="bet-content"><span class="round-3 green">28</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708578"><div class="bet-content"><span class="round-3 red">29</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708579"><div class="bet-content"><span class="round-3 red">30</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708580"><div class="bet-content"><span class="round-3 blue">31</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708581"><div class="bet-content"><span class="round-3 green">32</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708582"><div class="bet-content"><span class="round-3 green">33</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708583"><div class="bet-content"><span class="round-3 red">34</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708584"><div class="bet-content"><span class="round-3 red">35</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708585"><div class="bet-content"><span class="round-3 blue">36</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708586"><div class="bet-content"><span class="round-3 blue">37</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708587"><div class="bet-content"><span class="round-3 green">38</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708588"><div class="bet-content"><span class="round-3 green">39</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708589"><div class="bet-content"><span class="round-3 red">40</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708590"><div class="bet-content"><span class="round-3 blue">41</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708591"><div class="bet-content"><span class="round-3 blue">42</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="708592"><div class="bet-content"><span class="round-3 green">43</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708593"><div class="bet-content"><span class="round-3 green">44</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="708594"><div class="bet-content"><span class="round-3 red">45</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-50 bet ok" data-id="708595"><div class="bet-content"><span class="round-3 red">46</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-50 bet ok" data-id="708596"><div class="bet-content"><span class="round-3 blue">47</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-50 bet ok" data-id="708597"><div class="bet-content"><span class="round-3 blue">48</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-50 bet ok" data-id="708598"><div class="bet-content"><span class="round-3 green">49</span></div><div class="bet-item">48.6</div></div>
					</div>
				</div>
				
				<div class="row text-center"><div class="col title-no">两面</div></div>
					
				<div data-title="两面">
					<div class="row">
						<div class="col col-50 bet ok" data-id="708601"><span class="bet-content">大</span> <span class="bet-item">1.965</span></div>
						<div class="col col-50 bet ok" data-id="708602"><span class="bet-content">小</span> <span class="bet-item">1.965</span></div>
					</div>
					
					<div class="row">
						<div class="col col-50 bet ok" data-id="708603"><span class="bet-content">单</span> <span class="bet-item">1.965</span></div>
						<div class="col col-50 bet ok" data-id="708604"><span class="bet-content">双</span> <span class="bet-item">1.965</span></div>
					</div>
					
					<div class="row end">
						<div class="col col-33 bet ok" data-id="708701"><span class="bet-content">红波</span> <span class="bet-item">1.965</span></div>
						<div class="col col-33 bet ok" data-id="708702"><span class="bet-content">蓝波</span> <span class="bet-item">1.965</span></div>
						<div class="col col-33 bet ok" data-id="708703"><span class="bet-content">绿波</span> <span class="bet-item">1.965</span></div>
					</div>
				</div>
			</ion-content>
		</div>
	</div>
</ion-content>