<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">一肖</div></div>
			
	<div class="row">
		<div class="col bet ok" data-id="709401">
			<div class="bet-content left pd3">鼠</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='鼠'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="709402">
			<div class="bet-content left pd3">牛</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='牛'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="709403">
			<div class="bet-content left pd3">虎</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='虎'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="709404">
			<div class="bet-content left pd3">兔</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='兔'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="709405">
			<div class="bet-content left pd3">龙</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='龙'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="709406">
			<div class="bet-content left pd3">蛇</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='蛇'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="709407">
			<div class="bet-content left pd3">马</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='马'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="709408">
			<div class="bet-content left pd3">羊</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='羊'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="709409">
			<div class="bet-content left pd3">猴</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='猴'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="709410">
			<div class="bet-content left pd3">鸡</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='鸡'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="709411">
			<div class="bet-content left pd3">狗</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='狗'></div>
		</div>
	</div>
	
	<div class="row end">
		<div class="col bet ok" data-id="709412">
			<div class="bet-content left pd3">猪</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='猪'></div>
		</div>
	</div>
</ion-content>