<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">第七球</div></div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="608101"><div class="bet-content round-1">1</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608102"><div class="bet-content round-1">2</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608103"><div class="bet-content round-1">3</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="608104"><div class="bet-content round-1">4</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608105"><div class="bet-content round-1">5</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608106"><div class="bet-content round-1">6</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="608107"><div class="bet-content round-1">7</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608108"><div class="bet-content round-1">8</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608109"><div class="bet-content round-1">9</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="608110"><div class="bet-content round-1">10</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608111"><div class="bet-content round-1">11</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608112"><div class="bet-content round-1">12</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="608113"><div class="bet-content round-1">13</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608114"><div class="bet-content round-1">14</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608115"><div class="bet-content round-1">15</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="608116"><div class="bet-content round-1">16</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608117"><div class="bet-content round-1">17</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608118"><div class="bet-content round-1">18</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608119"><span class="bet-content round-1">19</span> <span class="bet-item">19.8</span></div>
		<div class="col col-50 bet ok" data-id="608120"><span class="bet-content round-1">20</span> <span class="bet-item">19.8</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608121"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="608122"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608123"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="608124"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608127"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="608128"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608125"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="608126"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>

	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608129"><span class="bet-content">东</span> <span class="bet-item">3.9</span></div>
		<div class="col col-50 bet ok" data-id="608130"><span class="bet-content">南</span> <span class="bet-item">3.9</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608131"><span class="bet-content">西</span> <span class="bet-item">3.9</span></div>
		<div class="col col-50 bet ok" data-id="608132"><span class="bet-content">北</span> <span class="bet-item">3.9</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-33 bet ok" data-id="608133"><div class="bet-content">中</div><div class="bet-item">2.8</div></div>
		<div class="col col-33 bet ok" data-id="608134"><div class="bet-content">发</div><div class="bet-item">2.8</div></div>
		<div class="col col-33 bet ok" data-id="608135"><div class="bet-content">白</div><div class="bet-item">3</div></div>
	</div>
</ion-content>