<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">第四球</div></div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="213301"><div class="bet-content round-1">1</div><div class="bet-item">10.8</div></div>
		<div class="col col-33 bet ok" data-id="213302"><div class="bet-content round-1">2</div><div class="bet-item">10.8</div></div>
		<div class="col col-33 bet ok" data-id="213303"><div class="bet-content round-1">3</div><div class="bet-item">10.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="213304"><div class="bet-content round-1">4</div><div class="bet-item">10.8</div></div>
		<div class="col col-33 bet ok" data-id="213305"><div class="bet-content round-1">5</div><div class="bet-item">10.8</div></div>
		<div class="col col-33 bet ok" data-id="213306"><div class="bet-content round-1">6</div><div class="bet-item">10.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="213307"><div class="bet-content round-1">7</div><div class="bet-item">10.8</div></div>
		<div class="col col-33 bet ok" data-id="213308"><div class="bet-content round-1">8</div><div class="bet-item">10.8</div></div>
		<div class="col col-33 bet ok" data-id="213309"><div class="bet-content round-1">9</div><div class="bet-item">10.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="213310"><span class="bet-content round-1">10</span> <span class="bet-item">10.8</span></div>
		<div class="col col-50 bet ok" data-id="213311"><span class="bet-content round-1">11</span> <span class="bet-item">10.8</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="213312"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="213313"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="213314"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="213315"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>
</ion-content>