<ion-content class="bet-view" scroll="false">
	<div class="sub-Navs" item-class="col-31">
		<ion-scroll id="sub-navs" direction="x" scrollbar-x="false" delegate-handle="sub-navs" ng-init="selectFirstSub();">
			<div class="row">
				<div class="col sub-col col-31" ng-class="{navActive:selectSub.id==213601}">
					<a class="item nav-item" ng-click="selectSubnav(1, $event);" data-id="213601" min-size="2" max-size="2">二中二</a>
				</div>
				
				<div class="col sub-col col-31" ng-class="{navActive:selectSub.id==213602}">
					<a class="item nav-item" ng-click="selectSubnav(2, $event);" data-id="213602" min-size="3" max-size="3">三中三</a>
				</div>
				
				<div class="col sub-col col-31" ng-class="{navActive:selectSub.id==213603}">
					<a class="item nav-item" ng-click="selectSubnav(3, $event);" data-id="213603" min-size="4" max-size="4">四中四</a>
				</div>
				
				<div class="col sub-col col-31" ng-class="{navActive:selectSub.id==213604}">
					<a class="item nav-item" ng-click="selectSubnav(4, $event);" data-id="213604" min-size="5" max-size="5">五中五</a>
				</div>
				
				<div class="col sub-col col-31" ng-class="{navActive:selectSub.id==213605}">
					<a class="item nav-item" ng-click="selectSubnav(5, $event);" data-id="213605" min-size="6" max-size="6">六中五</a>
				</div>
				
				<div class="col sub-col col-31" ng-class="{navActive:selectSub.id==213606}">
					<a class="item nav-item" ng-click="selectSubnav(6, $event);" data-id="213606" min-size="7" max-size="7">七中五</a>
				</div>
				
				<div class="col sub-col col-31" ng-class="{navActive:selectSub.id==213607}">
					<a class="item nav-item" ng-click="selectSubnav(7, $event);" data-id="213607" min-size="8" max-size="8">八中五</a>
				</div>
				
				<div class="col sub-col col-31" ng-class="{navActive:selectSub.id==213608}">
					<a class="item nav-item" ng-click="selectSubnav(8, $event);" data-id="213608" min-size="2" max-size="5">前二组选</a>
				</div>
				
				<div class="col sub-col col-31" ng-class="{navActive:selectSub.id==213609}">
					<a class="item nav-item" ng-click="selectSubnav(9, $event);" data-id="213609" min-size="3" max-size="5">前三组选</a>
				</div>
			</div>
		</ion-scroll>
	
		<div class="nav-content">
			<ion-content class="tp40">
				<div class="row text-center betLine ok">
					<div class="col title-no line">赔率：{{shareData.odds.toString()}}</div>
				</div>
				<div class="specialBet">
					<div class="row">
						<div class="col col-33 sub-bet ok" data-id="1"><div class="bet-content round-1">1</div></div>
						<div class="col col-33 sub-bet ok" data-id="2"><div class="bet-content round-1">2</div></div>
						<div class="col col-33 sub-bet ok" data-id="3"><div class="bet-content round-1">3</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 sub-bet ok" data-id="4"><div class="bet-content round-1">4</div></div>
						<div class="col col-33 sub-bet ok" data-id="5"><div class="bet-content round-1">5</div></div>
						<div class="col col-33 sub-bet ok" data-id="6"><div class="bet-content round-1">6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 sub-bet ok" data-id="7"><div class="bet-content round-1">7</div></div>
						<div class="col col-33 sub-bet ok" data-id="8"><div class="bet-content round-1">8</div></div>
						<div class="col col-33 sub-bet ok" data-id="9"><div class="bet-content round-1">9</div></div>
					</div>
					
					<div class="row end">
						<div class="col col-50 sub-bet ok" data-id="10"><span class="bet-content round-1">10</span></div>
						<div class="col col-50 sub-bet ok" data-id="11"><span class="bet-content round-1">11</span></div>
					</div>
				</div>
			</ion-content>
		</div>
	</div>
</ion-content>