<ion-content class="bet-view">	
	<div class="row text-center"><div class="col title-no">混合</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="6611201"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="6611202"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="6611203"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="6611204"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="6611209"><div class="bet-content">极大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="6611210"><div class="bet-content">极小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="6611211"><div class="bet-content">豹子</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row end">
		<div class="col col-33 bet ok" data-id="6611301"><div class="bet-content">红波</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="6611302"><div class="bet-content">绿波</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="6611303"><div class="bet-content">蓝波</div><div class="bet-item">1.982</div></div>
	</div>
</ion-content>