<ion-content class="bet-view" scroll="false">
	<div class="sub-Navs" item-class="col-31">
		<ion-scroll id="sub-navs" direction="x" scrollbar-x="false" delegate-handle="sub-navs">
			<div class="row" ng-init="shareData.subIndex=2">
				<div class="col sub-col col-50" ng-class="{navActive:shareData.subIndex==2}">
					<a class="item nav-item" ng-click="selectSubnav(2);">特码B</a>
				</div>
				
				<div class="col sub-col col-50" ng-class="{navActive:shareData.subIndex==1}">
					<a class="item nav-item" ng-click="selectSubnav(1);">特码A</a>
				</div>
			</div>
		</ion-scroll>
	
		<div class="nav-content">
			<ion-content class="tp40">
				<div ng-if="shareData.subIndex==1">
					<div class="row text-center"><div class="col title-no">特码A</div></div>
				
					<div class="row">
						<div class="col col-33 bet ok" data-id="808501"><div class="bet-content"><span class="round-3 red">01</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808502"><div class="bet-content"><span class="round-3 red">02</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808503"><div class="bet-content"><span class="round-3 blue">03</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808504"><div class="bet-content"><span class="round-3 blue">04</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808505"><div class="bet-content"><span class="round-3 green">05</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808506"><div class="bet-content"><span class="round-3 green">06</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808507"><div class="bet-content"><span class="round-3 red">07</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808508"><div class="bet-content"><span class="round-3 red">08</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808509"><div class="bet-content"><span class="round-3 blue">09</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808510"><div class="bet-content"><span class="round-3 blue">10</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808511"><div class="bet-content"><span class="round-3 green">11</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808512"><div class="bet-content"><span class="round-3 red">12</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808513"><div class="bet-content"><span class="round-3 red">13</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808514"><div class="bet-content"><span class="round-3 blue">14</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808515"><div class="bet-content"><span class="round-3 blue">15</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808516"><div class="bet-content"><span class="round-3 green">16</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808517"><div class="bet-content"><span class="round-3 green">17</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808518"><div class="bet-content"><span class="round-3 red">18</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808519"><div class="bet-content"><span class="round-3 red">19</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808520"><div class="bet-content"><span class="round-3 blue">20</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808521"><div class="bet-content"><span class="round-3 green">21</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808522"><div class="bet-content"><span class="round-3 green">22</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808523"><div class="bet-content"><span class="round-3 red">23</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808524"><div class="bet-content"><span class="round-3 red">24</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808525"><div class="bet-content"><span class="round-3 blue">25</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808526"><div class="bet-content"><span class="round-3 blue">26</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808527"><div class="bet-content"><span class="round-3 green">27</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808528"><div class="bet-content"><span class="round-3 green">28</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808529"><div class="bet-content"><span class="round-3 red">29</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808530"><div class="bet-content"><span class="round-3 red">30</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808531"><div class="bet-content"><span class="round-3 blue">31</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808532"><div class="bet-content"><span class="round-3 green">32</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808533"><div class="bet-content"><span class="round-3 green">33</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808534"><div class="bet-content"><span class="round-3 red">34</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808535"><div class="bet-content"><span class="round-3 red">35</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808536"><div class="bet-content"><span class="round-3 blue">36</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808537"><div class="bet-content"><span class="round-3 blue">37</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808538"><div class="bet-content"><span class="round-3 green">38</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808539"><div class="bet-content"><span class="round-3 green">39</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808540"><div class="bet-content"><span class="round-3 red">40</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808541"><div class="bet-content"><span class="round-3 blue">41</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808542"><div class="bet-content"><span class="round-3 blue">42</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808543"><div class="bet-content"><span class="round-3 green">43</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808544"><div class="bet-content"><span class="round-3 green">44</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808545"><div class="bet-content"><span class="round-3 red">45</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-50 bet ok" data-id="808546"><div class="bet-content"><span class="round-3 red">46</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-50 bet ok" data-id="808547"><div class="bet-content"><span class="round-3 blue">47</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-50 bet ok" data-id="808548"><div class="bet-content"><span class="round-3 blue">48</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-50 bet ok" data-id="808549"><div class="bet-content"><span class="round-3 green">49</span></div><div class="bet-item">48.6</div></div>
					</div>
				</div>
			
				<div ng-if="shareData.subIndex==2">
					<div class="row text-center"><div class="col title-no">特码B</div></div>
				
					<div class="row">
						<div class="col col-33 bet ok" data-id="808550"><div class="bet-content"><span class="round-3 red">01</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808551"><div class="bet-content"><span class="round-3 red">02</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808552"><div class="bet-content"><span class="round-3 blue">03</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808553"><div class="bet-content"><span class="round-3 blue">04</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808554"><div class="bet-content"><span class="round-3 green">05</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808555"><div class="bet-content"><span class="round-3 green">06</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808556"><div class="bet-content"><span class="round-3 red">07</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808557"><div class="bet-content"><span class="round-3 red">08</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808558"><div class="bet-content"><span class="round-3 blue">09</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808559"><div class="bet-content"><span class="round-3 blue">10</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808560"><div class="bet-content"><span class="round-3 green">11</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808561"><div class="bet-content"><span class="round-3 red">12</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808562"><div class="bet-content"><span class="round-3 red">13</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808563"><div class="bet-content"><span class="round-3 blue">14</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808564"><div class="bet-content"><span class="round-3 blue">15</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808565"><div class="bet-content"><span class="round-3 green">16</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808566"><div class="bet-content"><span class="round-3 green">17</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808567"><div class="bet-content"><span class="round-3 red">18</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808568"><div class="bet-content"><span class="round-3 red">19</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808569"><div class="bet-content"><span class="round-3 blue">20</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808570"><div class="bet-content"><span class="round-3 green">21</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808571"><div class="bet-content"><span class="round-3 green">22</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808572"><div class="bet-content"><span class="round-3 red">23</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808573"><div class="bet-content"><span class="round-3 red">24</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808574"><div class="bet-content"><span class="round-3 blue">25</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808575"><div class="bet-content"><span class="round-3 blue">26</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808576"><div class="bet-content"><span class="round-3 green">27</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808577"><div class="bet-content"><span class="round-3 green">28</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808578"><div class="bet-content"><span class="round-3 red">29</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808579"><div class="bet-content"><span class="round-3 red">30</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808580"><div class="bet-content"><span class="round-3 blue">31</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808581"><div class="bet-content"><span class="round-3 green">32</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808582"><div class="bet-content"><span class="round-3 green">33</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808583"><div class="bet-content"><span class="round-3 red">34</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808584"><div class="bet-content"><span class="round-3 red">35</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808585"><div class="bet-content"><span class="round-3 blue">36</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808586"><div class="bet-content"><span class="round-3 blue">37</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808587"><div class="bet-content"><span class="round-3 green">38</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808588"><div class="bet-content"><span class="round-3 green">39</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808589"><div class="bet-content"><span class="round-3 red">40</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808590"><div class="bet-content"><span class="round-3 blue">41</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808591"><div class="bet-content"><span class="round-3 blue">42</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="808592"><div class="bet-content"><span class="round-3 green">43</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808593"><div class="bet-content"><span class="round-3 green">44</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="808594"><div class="bet-content"><span class="round-3 red">45</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-50 bet ok" data-id="808595"><div class="bet-content"><span class="round-3 red">46</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-50 bet ok" data-id="808596"><div class="bet-content"><span class="round-3 blue">47</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-50 bet ok" data-id="808597"><div class="bet-content"><span class="round-3 blue">48</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-50 bet ok" data-id="808598"><div class="bet-content"><span class="round-3 green">49</span></div><div class="bet-item">48.6</div></div>
					</div>
				</div>
				
				<div class="row text-center"><div class="col title-no">两面</div></div>
					
				<div data-title="两面">
					<div class="row">
						<div class="col col-50 bet ok" data-id="808601"><span class="bet-content">大</span> <span class="bet-item">1.965</span></div>
						<div class="col col-50 bet ok" data-id="808602"><span class="bet-content">小</span> <span class="bet-item">1.965</span></div>
					</div>
					
					<div class="row">
						<div class="col col-50 bet ok" data-id="808603"><span class="bet-content">单</span> <span class="bet-item">1.965</span></div>
						<div class="col col-50 bet ok" data-id="808604"><span class="bet-content">双</span> <span class="bet-item">1.965</span></div>
					</div>
					
					<div class="row end">
						<div class="col col-33 bet ok" data-id="808701"><span class="bet-content">红波</span> <span class="bet-item">1.965</span></div>
						<div class="col col-33 bet ok" data-id="808702"><span class="bet-content">蓝波</span> <span class="bet-item">1.965</span></div>
						<div class="col col-33 bet ok" data-id="808703"><span class="bet-content">绿波</span> <span class="bet-item">1.965</span></div>
					</div>
				</div>
			</ion-content>
		</div>
	</div>
</ion-content>