<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">头数</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="809001"><span class="bet-content">0头</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="809002"><span class="bet-content">1头</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="809003"><span class="bet-content">2头</span> <span class="bet-item">1.982</span></div>
		<div class="col col-33 bet ok" data-id="809004"><span class="bet-content">3头</span> <span class="bet-item">1.982</span></div>
		<div class="col col-33 bet ok" data-id="809005"><span class="bet-content">4头</span> <span class="bet-item">1.982</span></div>
	</div>
	

	<div class="row text-center"><div class="col title-no">尾数</div></div>
			
	<div class="row">
		<div class="col bet ok" data-id="809015">
			<div class="bet-content left pd3">0尾</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round"><span class="round-3 blue">10</span><span class="round-3 blue">20</span><span class="round-3 red">30</span><span class="round-3 red">40</span></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="809006">
			<div class="bet-content left pd3">1尾</div>
			<div class="bet-item left lh14">1.798</div>
			<div class="right mr10 bet-round"><span class="round-3 red">01</span><span class="round-3 green">11</span><span class="round-3 green">21</span><span class="round-3 blue">31</span><span class="round-3 blue">41</span></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="809007">
			<div class="bet-content left pd3">2尾</div>
			<div class="bet-item left lh14">1.798</div>
			<div class="right mr10 bet-round"><span class="round-3 red">02</span><span class="round-3 red">12</span><span class="round-3 green">22</span><span class="round-3 green">32</span><span class="round-3 blue">42</span></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="809008">
			<div class="bet-content left pd3">3尾</div>
			<div class="bet-item left lh14">1.798</div>
			<div class="right mr10 bet-round"><span class="round-3 blue">03</span><span class="round-3 red">13</span><span class="round-3 red">23</span><span class="round-3 green">33</span><span class="round-3 green">43</span></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="809009">
			<div class="bet-content left pd3">4尾</div>
			<div class="bet-item left lh14">1.798</div>
			<div class="right mr10 bet-round"><span class="round-3 blue">04</span><span class="round-3 blue">14</span><span class="round-3 red">24</span><span class="round-3 red">34</span><span class="round-3 green">44</span></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="809010">
			<div class="bet-content left pd3">5尾</div>
			<div class="bet-item left lh14">1.798</div>
			<div class="right mr10 bet-round"><span class="round-3 green">05</span><span class="round-3 blue">15</span><span class="round-3 blue">25</span><span class="round-3 red">35</span><span class="round-3 red">45</span></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="809011">
			<div class="bet-content left pd3">6尾</div>
			<div class="bet-item left lh14">1.798</div>
			<div class="right mr10 bet-round"><span class="round-3 green">06</span><span class="round-3 green">16</span><span class="round-3 blue">26</span><span class="round-3 blue">36</span><span class="round-3 red">46</span></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="809012">
			<div class="bet-content left pd3">7尾</div>
			<div class="bet-item left lh14">1.798</div>
			<div class="right mr10 bet-round"><span class="round-3 red">07</span><span class="round-3 green">17</span><span class="round-3 green">27</span><span class="round-3 blue">37</span><span class="round-3 blue">47</span></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="809013">
			<div class="bet-content left pd3">8尾</div>
			<div class="bet-item left lh14">1.798</div>
			<div class="right mr10 bet-round"><span class="round-3 red">08</span><span class="round-3 red">18</span><span class="round-3 green">28</span><span class="round-3 green">38</span><span class="round-3 blue">48</span></div>
		</div>
	</div>
	
	<div class="row end">
		<div class="col bet bet-bottom ok" data-id="809014">
			<div class="bet-content left pd3">9尾</div>
			<div class="bet-item left lh14">1.798</div>
			<div class="right mr10 bet-round"><span class="round-3 blue">09</span><span class="round-3 red">19</span><span class="round-3 red">29</span><span class="round-3 green">39</span><span class="round-3 green">49</span></div>
		</div>
	</div>
</ion-content>