<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">正码</div></div>
			
	<div class="row">
		<div class="col col-33 bet ok" data-id="809101"><div class="bet-content"><span class="round-3 red">01</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809102"><div class="bet-content"><span class="round-3 red">02</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809103"><div class="bet-content"><span class="round-3 blue">03</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="809104"><div class="bet-content"><span class="round-3 blue">04</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809105"><div class="bet-content"><span class="round-3 green">05</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809106"><div class="bet-content"><span class="round-3 green">06</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="809107"><div class="bet-content"><span class="round-3 red">07</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809108"><div class="bet-content"><span class="round-3 red">08</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809109"><div class="bet-content"><span class="round-3 blue">09</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="809110"><div class="bet-content"><span class="round-3 blue">10</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809111"><div class="bet-content"><span class="round-3 green">11</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809112"><div class="bet-content"><span class="round-3 red">12</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="809113"><div class="bet-content"><span class="round-3 red">13</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809114"><div class="bet-content"><span class="round-3 blue">14</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809115"><div class="bet-content"><span class="round-3 blue">15</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="809116"><div class="bet-content"><span class="round-3 green">16</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809117"><div class="bet-content"><span class="round-3 green">17</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809118"><div class="bet-content"><span class="round-3 red">18</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="809119"><div class="bet-content"><span class="round-3 red">19</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809120"><div class="bet-content"><span class="round-3 blue">20</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809121"><div class="bet-content"><span class="round-3 green">21</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="809122"><div class="bet-content"><span class="round-3 green">22</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809123"><div class="bet-content"><span class="round-3 red">23</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809124"><div class="bet-content"><span class="round-3 red">24</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="809125"><div class="bet-content"><span class="round-3 blue">25</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809126"><div class="bet-content"><span class="round-3 blue">26</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809127"><div class="bet-content"><span class="round-3 green">27</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="809128"><div class="bet-content"><span class="round-3 green">28</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809129"><div class="bet-content"><span class="round-3 red">29</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809130"><div class="bet-content"><span class="round-3 red">30</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="809131"><div class="bet-content"><span class="round-3 blue">31</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809132"><div class="bet-content"><span class="round-3 green">32</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809133"><div class="bet-content"><span class="round-3 green">33</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="809134"><div class="bet-content"><span class="round-3 red">34</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809135"><div class="bet-content"><span class="round-3 red">35</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809136"><div class="bet-content"><span class="round-3 blue">36</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="809137"><div class="bet-content"><span class="round-3 blue">37</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809138"><div class="bet-content"><span class="round-3 green">38</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809139"><div class="bet-content"><span class="round-3 green">39</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="809140"><div class="bet-content"><span class="round-3 red">40</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809141"><div class="bet-content"><span class="round-3 blue">41</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809142"><div class="bet-content"><span class="round-3 blue">42</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="809143"><div class="bet-content"><span class="round-3 green">43</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809144"><div class="bet-content"><span class="round-3 green">44</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="809145"><div class="bet-content"><span class="round-3 red">45</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="809146"><div class="bet-content"><span class="round-3 red">46</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-50 bet ok" data-id="809147"><div class="bet-content"><span class="round-3 blue">47</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="809148"><div class="bet-content"><span class="round-3 blue">48</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-50 bet ok" data-id="809149"><div class="bet-content"><span class="round-3 green">49</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">两面</div></div>
		
	<div data-title="两面">
		<div class="row">
			<div class="col col-50 bet ok" data-id="808623"><span class="bet-content">总大</span> <span class="bet-item">1.965</span></div>
			<div class="col col-50 bet ok" data-id="808624"><span class="bet-content">总小</span> <span class="bet-item">1.965</span></div>
		</div>
		
		<div class="row end">
			<div class="col col-50 bet ok" data-id="808621"><span class="bet-content">总单</span> <span class="bet-item">1.965</span></div>
			<div class="col col-50 bet ok" data-id="808622"><span class="bet-content">总双</span> <span class="bet-item">1.965</span></div>
		</div>
	</div>
</ion-content>