<section id="main-content">
	<section class="wrapper">
		<ol class="breadcrumb">
			<li><a href="{:Url('user/robot')}"><span
					class="glyphicon glyphicon-home" aria-hidden="true"
					style="color: #f00"></span></a></li>
			<li class="active"><font><font>添加机器人</font></font></li>
		</ol>
		<div class="table-agile-info">
			<div class="panel panel-default">
				
				<div>
					<table class="table">
						<form action="{:Url('user/addSave')}" method="post">
							<tr>
								<td>
									机器人名称：
								</br>
									<input type="text" style="width: 160px; height: 30px;" name="jiq" />	
								</br>
									压大：<input type="radio" name="usertype" value="1" checked>
								</br>
									压小：<input type="radio" name="usertype" value="2">
								</br>
									<button type="submit" class="btn btn-danger">添加</button>
								</td>
							</tr>
						</form>	
					</table>
				</div>
			</div>
		</div>

	</section>