<section id="main-content">
	<section class="wrapper">
		<ol class="breadcrumb">
			<li><a href="{:Url('Index/index')}"><span
					class="glyphicon glyphicon-home" aria-hidden="true"
					style="color: #f00"></span></a></li>
			<li class="active">管理员充值记录</li>
		</ol>
		<div class="table-agile-info">
			<div class="panel panel-default">
                            
                            <!--- 搜索位置 -->
                    <div class="col-sm-3" style="margin-left: 600px">
				<div class="input-group">
					<form action='' method='get'>
						<input style="width: 185px; height: 33px" type="text"
							class="input-sm form-control" value='{$Think.get.keyword}'
							name="keyword" /> <span class="input-group-btn">
							<button class="btn btn-sm btn-default" type="submit">
								编号(ID)</button>
						</span>
					</form>
				</div>

			</div>
                            
				<div>
					<table class="table" ui-jq="footable"
						ui-options="{
        &quot;paging&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;filtering&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;sorting&quot;: {
          &quot;enabled&quot;: true
        }}">
						<thead>
							<tr>
							<th>编号</th>
							<th>管理员ID</th>
								<th data-breakpoints="xs">用户ID</th>
								<th>充值金额</th>
								 <th>充值时间</th> 
							</tr>
						</thead>
						<tbody>
							
							{volist name="list" id="vo"}
							<tr data-expanded="true">
							<td>{$vo.id}</td>
								<td>{$vo.aid}</td>
								<td><font>{$vo.yid}</font></td>
								<td>{$vo.money}</td>
								<td>{$vo.add_time|date="Y-m-d H:i:s",###}</td>
								
							</tr>

							{/volist}
						</tbody>
					</table>
					{$list->render()}
				</div>
			</div>
		</div>

	</section>