<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">第六名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092474"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092475"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092476"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092477"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092478"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092479"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092480"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092481"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092482"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092483"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第七名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092488"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092489"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092490"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092491"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092492"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092493"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092494"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092495"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092496"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092497"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第八名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092502"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092503"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092504"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092505"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092506"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092507"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092508"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092509"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092510"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092511"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第九名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092516"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092517"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092518"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092519"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092520"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092521"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092522"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092523"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092524"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092525"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第十名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092530"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092531"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092532"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092533"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092534"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092535"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="8092536"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092537"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="8092538"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="8092539"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
</ion-content>