<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">第六球</div></div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="608001"><div class="bet-content round-1">1</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608002"><div class="bet-content round-1">2</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608003"><div class="bet-content round-1">3</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="608004"><div class="bet-content round-1">4</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608005"><div class="bet-content round-1">5</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608006"><div class="bet-content round-1">6</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="608007"><div class="bet-content round-1">7</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608008"><div class="bet-content round-1">8</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608009"><div class="bet-content round-1">9</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="608010"><div class="bet-content round-1">10</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608011"><div class="bet-content round-1">11</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608012"><div class="bet-content round-1">12</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="608013"><div class="bet-content round-1">13</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608014"><div class="bet-content round-1">14</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608015"><div class="bet-content round-1">15</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="608016"><div class="bet-content round-1">16</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608017"><div class="bet-content round-1">17</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608018"><div class="bet-content round-1">18</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608019"><span class="bet-content round-1">19</span> <span class="bet-item">19.8</span></div>
		<div class="col col-50 bet ok" data-id="608020"><span class="bet-content round-1">20</span> <span class="bet-item">19.8</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608021"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="608022"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608023"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="608024"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608027"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="608028"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608025"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="608026"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>

	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608029"><span class="bet-content">东</span> <span class="bet-item">3.9</span></div>
		<div class="col col-50 bet ok" data-id="608030"><span class="bet-content">南</span> <span class="bet-item">3.9</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608031"><span class="bet-content">西</span> <span class="bet-item">3.9</span></div>
		<div class="col col-50 bet ok" data-id="608032"><span class="bet-content">北</span> <span class="bet-item">3.9</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-33 bet ok" data-id="608033"><div class="bet-content">中</div><div class="bet-item">2.8</div></div>
		<div class="col col-33 bet ok" data-id="608034"><div class="bet-content">发</div><div class="bet-item">2.8</div></div>
		<div class="col col-33 bet ok" data-id="608035"><div class="bet-content">白</div><div class="bet-item">3</div></div>
	</div>
</ion-content>