<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">第八球</div></div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="608201"><div class="bet-content round-1">1</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608202"><div class="bet-content round-1">2</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608203"><div class="bet-content round-1">3</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="608204"><div class="bet-content round-1">4</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608205"><div class="bet-content round-1">5</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608206"><div class="bet-content round-1">6</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="608207"><div class="bet-content round-1">7</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608208"><div class="bet-content round-1">8</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608209"><div class="bet-content round-1">9</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="608210"><div class="bet-content round-1">10</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608211"><div class="bet-content round-1">11</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608212"><div class="bet-content round-1">12</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="608213"><div class="bet-content round-1">13</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608214"><div class="bet-content round-1">14</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608215"><div class="bet-content round-1">15</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="608216"><div class="bet-content round-1">16</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608217"><div class="bet-content round-1">17</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="608218"><div class="bet-content round-1">18</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608219"><span class="bet-content round-1">19</span> <span class="bet-item">19.8</span></div>
		<div class="col col-50 bet ok" data-id="608220"><span class="bet-content round-1">20</span> <span class="bet-item">19.8</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608221"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="608222"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608223"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="608224"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608227"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="608228"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608225"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="608226"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>

	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608229"><span class="bet-content">东</span> <span class="bet-item">3.9</span></div>
		<div class="col col-50 bet ok" data-id="608230"><span class="bet-content">南</span> <span class="bet-item">3.9</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="608231"><span class="bet-content">西</span> <span class="bet-item">3.9</span></div>
		<div class="col col-50 bet ok" data-id="608232"><span class="bet-content">北</span> <span class="bet-item">3.9</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-33 bet ok" data-id="608233"><div class="bet-content">中</div><div class="bet-item">2.8</div></div>
		<div class="col col-33 bet ok" data-id="608234"><div class="bet-content">发</div><div class="bet-item">2.8</div></div>
		<div class="col col-33 bet ok" data-id="608235"><div class="bet-content">白</div><div class="bet-item">3</div></div>
	</div>
</ion-content>