<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">第二球</div></div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="213101"><div class="bet-content round-1">1</div><div class="bet-item">10.8</div></div>
		<div class="col col-33 bet ok" data-id="213102"><div class="bet-content round-1">2</div><div class="bet-item">10.8</div></div>
		<div class="col col-33 bet ok" data-id="213103"><div class="bet-content round-1">3</div><div class="bet-item">10.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="213104"><div class="bet-content round-1">4</div><div class="bet-item">10.8</div></div>
		<div class="col col-33 bet ok" data-id="213105"><div class="bet-content round-1">5</div><div class="bet-item">10.8</div></div>
		<div class="col col-33 bet ok" data-id="213106"><div class="bet-content round-1">6</div><div class="bet-item">10.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="213107"><div class="bet-content round-1">7</div><div class="bet-item">10.8</div></div>
		<div class="col col-33 bet ok" data-id="213108"><div class="bet-content round-1">8</div><div class="bet-item">10.8</div></div>
		<div class="col col-33 bet ok" data-id="213109"><div class="bet-content round-1">9</div><div class="bet-item">10.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="213110"><span class="bet-content round-1">10</span> <span class="bet-item">10.8</span></div>
		<div class="col col-50 bet ok" data-id="213111"><span class="bet-content round-1">11</span> <span class="bet-item">10.8</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="213112"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="213113"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="213114"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="213115"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>
</ion-content>