<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">两面</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708601"><span class="bet-content">特大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708602"><span class="bet-content">特小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708603"><span class="bet-content">特单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708604"><span class="bet-content">特双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708605"><span class="bet-content">特合大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708606"><span class="bet-content">特合小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708607"><span class="bet-content">特合单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708608"><span class="bet-content">特合双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708615"><span class="bet-content">特天肖</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708616"><span class="bet-content">特地肖</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708617"><span class="bet-content">特前肖</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708618"><span class="bet-content">特后肖</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708619"><span class="bet-content">特家肖</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708620"><span class="bet-content">特野肖</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708609"><span class="bet-content">特尾大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708610"><span class="bet-content">特尾小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708621"><span class="bet-content">总和单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708622"><span class="bet-content">总和双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708623"><span class="bet-content">总和大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708624"><span class="bet-content">总和小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708611"><span class="bet-content">特大单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708612"><span class="bet-content">特大双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="708613"><span class="bet-content">特小单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708614"><span class="bet-content">特小双</span> <span class="bet-item">1.982</span></div>
	</div>
</ion-content>