<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">正码</div></div>
			
	<div class="row">
		<div class="col col-33 bet ok" data-id="709101"><div class="bet-content"><span class="round-3 red">01</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709102"><div class="bet-content"><span class="round-3 red">02</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709103"><div class="bet-content"><span class="round-3 blue">03</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="709104"><div class="bet-content"><span class="round-3 blue">04</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709105"><div class="bet-content"><span class="round-3 green">05</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709106"><div class="bet-content"><span class="round-3 green">06</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="709107"><div class="bet-content"><span class="round-3 red">07</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709108"><div class="bet-content"><span class="round-3 red">08</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709109"><div class="bet-content"><span class="round-3 blue">09</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="709110"><div class="bet-content"><span class="round-3 blue">10</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709111"><div class="bet-content"><span class="round-3 green">11</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709112"><div class="bet-content"><span class="round-3 red">12</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="709113"><div class="bet-content"><span class="round-3 red">13</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709114"><div class="bet-content"><span class="round-3 blue">14</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709115"><div class="bet-content"><span class="round-3 blue">15</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="709116"><div class="bet-content"><span class="round-3 green">16</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709117"><div class="bet-content"><span class="round-3 green">17</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709118"><div class="bet-content"><span class="round-3 red">18</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="709119"><div class="bet-content"><span class="round-3 red">19</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709120"><div class="bet-content"><span class="round-3 blue">20</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709121"><div class="bet-content"><span class="round-3 green">21</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="709122"><div class="bet-content"><span class="round-3 green">22</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709123"><div class="bet-content"><span class="round-3 red">23</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709124"><div class="bet-content"><span class="round-3 red">24</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="709125"><div class="bet-content"><span class="round-3 blue">25</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709126"><div class="bet-content"><span class="round-3 blue">26</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709127"><div class="bet-content"><span class="round-3 green">27</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="709128"><div class="bet-content"><span class="round-3 green">28</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709129"><div class="bet-content"><span class="round-3 red">29</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709130"><div class="bet-content"><span class="round-3 red">30</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="709131"><div class="bet-content"><span class="round-3 blue">31</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709132"><div class="bet-content"><span class="round-3 green">32</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709133"><div class="bet-content"><span class="round-3 green">33</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="709134"><div class="bet-content"><span class="round-3 red">34</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709135"><div class="bet-content"><span class="round-3 red">35</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709136"><div class="bet-content"><span class="round-3 blue">36</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="709137"><div class="bet-content"><span class="round-3 blue">37</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709138"><div class="bet-content"><span class="round-3 green">38</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709139"><div class="bet-content"><span class="round-3 green">39</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="709140"><div class="bet-content"><span class="round-3 red">40</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709141"><div class="bet-content"><span class="round-3 blue">41</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709142"><div class="bet-content"><span class="round-3 blue">42</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="709143"><div class="bet-content"><span class="round-3 green">43</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709144"><div class="bet-content"><span class="round-3 green">44</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="709145"><div class="bet-content"><span class="round-3 red">45</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="709146"><div class="bet-content"><span class="round-3 red">46</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-50 bet ok" data-id="709147"><div class="bet-content"><span class="round-3 blue">47</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="709148"><div class="bet-content"><span class="round-3 blue">48</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-50 bet ok" data-id="709149"><div class="bet-content"><span class="round-3 green">49</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">两面</div></div>
		
	<div data-title="两面">
		<div class="row">
			<div class="col col-50 bet ok" data-id="708623"><span class="bet-content">总大</span> <span class="bet-item">1.965</span></div>
			<div class="col col-50 bet ok" data-id="708624"><span class="bet-content">总小</span> <span class="bet-item">1.965</span></div>
		</div>
		
		<div class="row end">
			<div class="col col-50 bet ok" data-id="708621"><span class="bet-content">总单</span> <span class="bet-item">1.965</span></div>
			<div class="col col-50 bet ok" data-id="708622"><span class="bet-content">总双</span> <span class="bet-item">1.965</span></div>
		</div>
	</div>
</ion-content>