<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">冠军</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="401107"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401108"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401109"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401110"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401111"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401112"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401113"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401114"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401115"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401116"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">亚军</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="401207"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401208"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401209"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401210"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401211"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401212"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401213"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401214"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401215"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401216"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第三名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="401307"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401308"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401309"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401310"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401311"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401312"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501313"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501314"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501315"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501316"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第四名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="501407"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501408"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501409"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501410"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501411"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501412"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501413"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501414"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501415"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501416"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第五名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="501507"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501508"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501509"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501510"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501511"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501512"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501513"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501514"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="501515"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501516"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
</ion-content>