<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">第六名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="401607"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401608"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401609"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401610"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401611"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401612"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401613"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401614"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401615"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401616"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第七名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="401707"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401708"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401709"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401710"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401711"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401712"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401713"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401714"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401715"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401716"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第八名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="401807"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401808"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401809"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401810"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401811"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401812"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401813"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401814"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401815"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401816"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第九名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="401907"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401908"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401909"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401910"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401911"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401912"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401913"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401914"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401915"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="401916"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第十名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="402007"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="402008"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="402009"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="402010"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="402011"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="402012"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="402013"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="402014"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="402015"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="402016"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
</ion-content>