<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">冠、亚军 组合</div></div>
			    				
	<div class="row">
		<div class="col col-50 bet ok" data-id="401001"><span class="bet-content">冠亚大</span><span class="bet-item">2.2</span></div>
		<div class="col col-50 bet ok" data-id="401002"><span class="bet-content">冠亚小</span> <span class="bet-item">1.77</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="401003"><span class="bet-content">冠亚单</span> <span class="bet-item">1.77</span></div>
		<div class="col col-50 bet ok" data-id="401004"><span class="bet-content">冠亚双</span> <span class="bet-item">2.2</span></div>
	</div>

	<div class="row">
		<div class="col col-33 bet ok" data-id="401005"><div class="bet-content">3</div><div class="bet-item">42.3</div></div>
		<div class="col col-33 bet ok" data-id="401006"><div class="bet-content">4</div><div class="bet-item">42.3</div></div>
		<div class="col col-33 bet ok" data-id="401007"><div class="bet-content">5</div><div class="bet-item">21.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="401008"><div class="bet-content">6</div><div class="bet-item">21.3</div></div>
		<div class="col col-33 bet ok" data-id="401009"><div class="bet-content">7</div><div class="bet-item">14.3</div></div>
		<div class="col col-33 bet ok" data-id="401010"><div class="bet-content">8</div><div class="bet-item">14.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="401011"><div class="bet-content">9</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="401012"><div class="bet-content">10</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="401013"><div class="bet-content">11</div><div class="bet-item">8.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="401014"><div class="bet-content">12</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="401015"><div class="bet-content">13</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="401016"><div class="bet-content">14</div><div class="bet-item">14.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="401017"><div class="bet-content">15</div><div class="bet-item">14.3</div></div>
		<div class="col col-33 bet ok" data-id="401018"><div class="bet-content">16</div><div class="bet-item">21.3</div></div>
		<div class="col col-33 bet ok" data-id="401019"><div class="bet-content">17</div><div class="bet-item">21.3</div></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="401020"><span class="bet-content">18</span> <span class="bet-item">42.3</span></div>
		<div class="col col-50 bet ok" data-id="401021"><span class="bet-content">19</span> <span class="bet-item">42.3</span></div>
	</div>
</ion-content>