
<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">第一球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301200"><span class="bet-content round-1">0</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301201"><span class="bet-content round-1">1</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301202"><span class="bet-content round-1">2</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301203"><span class="bet-content round-1">3</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301204"><span class="bet-content round-1">4</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301205"><span class="bet-content round-1">5</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301206"><span class="bet-content round-1">6</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301207"><span class="bet-content round-1">7</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301208"><span class="bet-content round-1">8</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301209"><span class="bet-content round-1">9</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第二球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301300"><span class="bet-content round-1">0</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301301"><span class="bet-content round-1">1</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301302"><span class="bet-content round-1">2</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301303"><span class="bet-content round-1">3</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301304"><span class="bet-content round-1">4</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301305"><span class="bet-content round-1">5</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301306"><span class="bet-content round-1">6</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301307"><span class="bet-content round-1">7</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301308"><span class="bet-content round-1">8</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301309"><span class="bet-content round-1">9</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第三球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301400"><span class="bet-content round-1">0</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301401"><span class="bet-content round-1">1</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301402"><span class="bet-content round-1">2</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301403"><span class="bet-content round-1">3</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301404"><span class="bet-content round-1">4</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301405"><span class="bet-content round-1">5</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301406"><span class="bet-content round-1">6</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301407"><span class="bet-content round-1">7</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301408"><span class="bet-content round-1">8</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301409"><span class="bet-content round-1">9</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第四球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301500"><span class="bet-content round-1">0</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301501"><span class="bet-content round-1">1</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301502"><span class="bet-content round-1">2</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301503"><span class="bet-content round-1">3</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301504"><span class="bet-content round-1">4</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301505"><span class="bet-content round-1">5</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301506"><span class="bet-content round-1">6</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301507"><span class="bet-content round-1">7</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301508"><span class="bet-content round-1">8</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301509"><span class="bet-content round-1">9</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第五球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301600"><span class="bet-content round-1">0</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301601"><span class="bet-content round-1">1</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301602"><span class="bet-content round-1">2</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301603"><span class="bet-content round-1">3</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301604"><span class="bet-content round-1">4</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301605"><span class="bet-content round-1">5</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="301606"><span class="bet-content round-1">6</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301607"><span class="bet-content round-1">7</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="301608"><span class="bet-content round-1">8</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="301609"><span class="bet-content round-1">9</span> <span class="bet-item">9.85</span></div>
	</div>
</ion-content>