/******************************
			red
******************************/
.skin_red .skinHover,.skin_red .skinHover ul {background: #B0565A;}
.skin_red .announce {background: url(../images/skin/red/announce-bg.png) repeat-x 0 -30px;}
.skin_red .announc3-hd {background:url(../images/skin/red/announce-bg.png) no-repeat 0 0; }

.skin_red .main-body { background: url("/static/images/skin/red/main_bg.jpg") no-repeat 0 0 #A12F37; }
.skin_red .header .menu1 { background: url("../images/skin/red/top_bg.png") no-repeat 0 0;}
.skin_red .header {background: url("../images/skin/red/nav_bg.png") repeat-x scroll 0 0;}
.skin_red .header .lotterys a span {background: url("../images/skin/red/nav_shuxian.png") no-repeat scroll right 22px;}
.skin_red .header .menu3 a {background-image: url("../images/skin/red/logout.png");}
.skin_red .main {background: url("../images/skin/red/side_bg.jpg") no-repeat left bottom #b44249 ;}
.skin_red .side_left .title {background: url("../images/skin/red/left_bg.png") no-repeat scroll 0 0;color: #fff;}
.skin_red .side_left .info label {color: #FEADB5;}

.skin_red .content {background-color: #feefef;}
.skin_red .cont-col3 {background: #feefef;}
.skin_red .u-table2 thead th{ border:1px solid #EAC0BF; background:url(../images/skin/red/bg-sprites.png) repeat-x 0 -58px; color: #892122}
.skin_red .u-table2 .name {background-color: #f7ebeb;}
.skin_red .u-table2 td,.skin_red .u-table4 td {border: 1px solid #daa4a3;color: #892122;}
.skin_red .u-table2 .hover {background: none repeat 0 0 #F6D3E4;}
.skin_red .u-table5 th, .skin_red .u-table5 td {border: 1px solid #daa4a3;}
.skin_red .u-tb5-tr1 {background: #FFFFFF;}
.skin_red .u-table2 thead th.select{ background: url(../images/skin/red/huang_bg.png) 0 0 !important;color: white !important;}
.skin_red .tab_title02 a:hover, .skin_red .tab_title02 .on {background: url("../images/skin/red/tab_bg10.png") no-repeat scroll left top;color: #98292e;}
.skin_red .u-table10 thead th {border: 1px solid #eac0bf;background-color: #E57388;color: #fff;}
.skin_red .u-table10 td {border: 1px solid #daa4a3;background: #fff;color: #892122;}

.skin_red .megas512 span.current {color: #98292e;}
.skin_red .demo-class .layui-layer-title {background: url("../images/skin/red/bg-sprites.png") repeat-x scroll 0 -58px;border: 1px solid #eac0bf;color: #892122;}
.skin_red .demo-class .layui-layer-btn a{ background: url("../images/skin/red/btn-bg.png");color: #fff;}
.skin_red .bet-bottom {border: 1px solid #daa4a3;}
.skin_red .bet-bottom .bcount {border-right: 1px solid #daa4a3;}
.skin_red .skinbtn {background-color: #A43039;color: #ffffff;}
.skin_red .skin-font-color {color:#892122}
.skin_red #lastBets li {border-top: 1px solid #e6b3be;}

.skin_red .pop-tips {border: 1px solid #af3230;}
.skin_red .pop-tips-hd {background: #c03634;color: #fff;}

/******************************
			blue
******************************/
.skin_blue .skinHover,.skin_blue .skinHover ul {background: #234b95;}
.skin_blue .announce {background: url(../images/skin/blue/announce-bg.png) repeat-x 0 -30px;}
.skin_blue .announc3-hd {background:url(../images/skin/blue/announce-bg.png) no-repeat 0 0; }

.skin_blue .main-body { background: url("/static/images/skin/blue/main_bg.jpg") no-repeat 0 0 #3682D0; }
.skin_blue .header .menu1 { background: url("../images/skin/blue/top_bg.png") no-repeat 0 0;}
.skin_blue .header {background: url("../images/skin/blue/nav_bg.png") repeat-x scroll 0 0;}
.skin_blue .header .lotterys a span {background: url("../images/skin/blue/nav_shuxian.png") no-repeat scroll right 22px;}
.skin_blue .header .menu3 a {background-image: url("../images/skin/blue/logout.png");}
.skin_blue .main {background: url("../images/skin/blue/side_bg.jpg") no-repeat left top #2f6ed7;}
.skin_blue .side_left .title {background: url("../images/skin/blue/left_bg.png") no-repeat scroll 0 0;color: #fff;}
.skin_blue .side_left .info label {color: #36639D;}

.skin_blue .content {background-color: #FFFFFF;}
.skin_blue .cont-col3 {background: #FFFFFF;}
.skin_blue .u-table2 thead th{ border:1px solid #b9c2cb; background:url(../images/skin/blue/bg-sprites.png) repeat-x 0 -58px; color:#35406d}
.skin_blue .u-table2 .name {background-color: #edf4fe;}
.skin_blue .u-table2 td,.skin_blue .u-table4 td {border: 1px solid #b9c2cb;color: #35406d;}
.skin_blue .u-table2 .hover {background: none repeat 0 0 #c3d9f1;}
.skin_blue .u-table5 th, .skin_blue .u-table5 td {border: 1px solid #b9c2cb;}
.skin_blue .u-tb5-tr1 {background: #FFF;}
.skin_blue .u-table2 thead th.select{ background: url(../images/skin/blue/huang_bg.png) 0 0 !important;color: white !important;}
.skin_blue .tab_title02 a:hover, .skin_blue .tab_title02 .on {background: url("../images/skin/blue/tab_bg10.png") no-repeat scroll left top;color: #35406d;}
.skin_blue .u-table10 thead th {border: 1px solid #b9c2cb;background-color: #edf4fe;color: #35406d;}
.skin_blue .u-table10 td {border: 1px solid #b9c2cb;background: #fff;color: #35406d;}

.skin_blue .megas512 span.current {color: #35406d;}
.skin_blue .demo-class .layui-layer-title {background: url("../images/skin/blue/bg-sprites.png") repeat-x scroll 0 -58px;border: 1px solid #b9c2cb;color: #35406d;}
.skin_blue .demo-class .layui-layer-btn a{ background: url("../images/skin/blue/btn-bg.png");color: #fff;}
.skin_blue .bet-bottom {border: 1px solid #b9c2cb;}
.skin_blue .bet-bottom .bcount {border-right: 1px solid #b9c2cb;}
.skin_blue .skinbtn {background-color: #4987D7;color: #ffffff;}
.skin_blue .skin-font-color {color:#35406d}
.skin_blue #lastBets li {border-top: 1px solid #b9c2cb;}

.skin_blue .pop-tips {border: 1px solid #4092F6;}
.skin_blue .pop-tips-hd {background: #4987D7;color: #fff;}