<ion-view view-title="开奖结果">
	<ion-nav-buttons side="left">
    	<a class="button button-icon icon-prepage" ng-click="back();"></a>
  	</ion-nav-buttons>
	
	<ion-content class="history has-header" scroll="false">
		<div class="row pd item-select my-select row-width">
			<select ng-model="queryData.gameId" ng-options="game.id as game.name for game in gameList" ng-change="onQuery()" class="disable-user-behavior"></select>
		</div>

		<div class="row pd item-select my-select row-width right30" ng-show="showDate">
			<select ng-model="queryData.date" ng-change="onQuery()" class="date-select disable-user-behavior"></select>
		</div>
		
		<div class="row text-center title">
			<div class="col col-33 radiu">期数</div>
			<div class="col col-67 radiu">开奖号码</div>
		</div>
		
		<ion-content class="list">
			<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
			
			<div class="row" ng-repeat="data in dataList">
				<div class="col col-33 tal"><div class="cont lh"><div>{{data.turnNum}}</div><div>{{data.openTime.substr(5, 11)}}</div></div></div>
				<div class="col col-67 tal">
					<div class="cont" ng-bind-html="data.openNum|codeHtml:queryData.gameId:'history'"></div>
				</div>
			</div>
			
			<div ng-if="dataList.length == 0" class="empty-tip">暂无数据</div>
			<div ng-show="!dataList" class="spinner-warp"><ion-spinner class="spinner spinner-ios"></ion-spinner></div>
		</ion-content>
	</ion-content>
</ion-view>