<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">冠、亚军 组合</div></div>
			    				
	<div class="row">
		<div class="col col-50 bet ok" data-id="5510101"><span class="bet-content">冠亚大</span><span class="bet-item">2.2</span></div>
		<div class="col col-50 bet ok" data-id="5510102"><span class="bet-content">冠亚小</span> <span class="bet-item">1.77</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="5510103"><span class="bet-content">冠亚单</span> <span class="bet-item">1.77</span></div>
		<div class="col col-50 bet ok" data-id="5510104"><span class="bet-content">冠亚双</span> <span class="bet-item">2.2</span></div>
	</div>

	<div class="row">
		<div class="col col-33 bet ok" data-id="5510105"><div class="bet-content">3</div><div class="bet-item">42.3</div></div>
		<div class="col col-33 bet ok" data-id="5510106"><div class="bet-content">4</div><div class="bet-item">42.3</div></div>
		<div class="col col-33 bet ok" data-id="5510107"><div class="bet-content">5</div><div class="bet-item">21.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="5510108"><div class="bet-content">6</div><div class="bet-item">21.3</div></div>
		<div class="col col-33 bet ok" data-id="5510109"><div class="bet-content">7</div><div class="bet-item">14.3</div></div>
		<div class="col col-33 bet ok" data-id="5510110"><div class="bet-content">8</div><div class="bet-item">14.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="5510111"><div class="bet-content">9</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="5510112"><div class="bet-content">10</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="5510113"><div class="bet-content">11</div><div class="bet-item">8.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="5510114"><div class="bet-content">12</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="5510115"><div class="bet-content">13</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="5510116"><div class="bet-content">14</div><div class="bet-item">14.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="5510117"><div class="bet-content">15</div><div class="bet-item">14.3</div></div>
		<div class="col col-33 bet ok" data-id="5510118"><div class="bet-content">16</div><div class="bet-item">21.3</div></div>
		<div class="col col-33 bet ok" data-id="5510119"><div class="bet-content">17</div><div class="bet-item">21.3</div></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="5510120"><span class="bet-content">18</span> <span class="bet-item">42.3</span></div>
		<div class="col col-50 bet ok" data-id="5510121"><span class="bet-content">19</span> <span class="bet-item">42.3</span></div>
	</div>
</ion-content>