<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">冠亚和</div></div>
			    				
	<div class="row">
		<div class="col col-50 bet ok" data-id="4510101"><span class="bet-content">冠亚大</span><span class="bet-item">2.2</span></div>
		<div class="col col-50 bet ok" data-id="4510102"><span class="bet-content">冠亚小</span><span class="bet-item">1.77</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="4510103"><span class="bet-content">冠亚单</span> <span class="bet-item">1.77</span></div>
		<div class="col col-50 bet ok" data-id="4510104"><span class="bet-content">冠亚双</span> <span class="bet-item">2.2</span></div>
	</div>

	<div class="row text-center"><div class="col title">冠军</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="4510213"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="4510211"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="4510215"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="4510214"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="4510212"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="4510216"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>

	<div class="row text-center"><div class="col title">亚军</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="4510313"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="4510311"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="4510315"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="4510314"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="4510312"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="4510316"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>

	<div class="row text-center"><div class="col title">第三名</div></div>
	<div class="row">
		<div class="col col-33 bet" data-id="4510413"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="4510411"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="4510415"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet" data-id="4510414"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="4510412"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="4510416"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>

	<div class="row text-center"><div class="col title">第四名</div></div>
	<div class="row">
		<div class="col col-33 bet" data-id="4510513"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="4510511"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="4510515"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet" data-id="4510514"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="4510512"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="4510516"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>

	<div class="row text-center"><div class="col title">第五名</div></div>
	<div class="row">
		<div class="col col-33 bet" data-id="4510613"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="4510611"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="4510615"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet" data-id="4510614"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="4510612"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="4510616"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>

	<div class="row text-center"><div class="col title">第六名</div></div>
	<div class="row">
		<div class="col col-50 bet" data-id="4510713"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="4510711"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet" data-id="4510714"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="4510712"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>

	<div class="row text-center"><div class="col title">第七名</div></div>
	<div class="row">
		<div class="col col-50 bet" data-id="4510813"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="4510811"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet" data-id="4510814"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="4510812"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>

	<div class="row text-center"><div class="col title">第八名</div></div>
	<div class="row">
		<div class="col col-50 bet" data-id="4510913"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="4510911"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet" data-id="4510914"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="4510912"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>

	<div class="row text-center"><div class="col title">第九名</div></div>
	<div class="row">
		<div class="col col-50 bet" data-id="4511013"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="4511011"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet" data-id="4511014"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="4511012"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>

	<div class="row text-center"><div class="col title">第十名</div></div>
	<div class="row">
		<div class="col col-50 bet" data-id="4511113"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="4511111"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet" data-id="4511114"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="4511112"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>
</ion-content>