<ion-view view-title="消息中心"> 

	<ion-nav-buttons side="left">
		<a class="button button-icon icon-prepage" ng-click="back();"></a> 
	</ion-nav-buttons> 
	
	<ion-content class="m-center m-info m-message">
		<div class="tab-label" tab-index="0">
			<div class="tab-content message-list">
				<div class="list">
					<ion-list>
					<div class="item" ng-repeat="item in noticeList" ng-click="showDetail({{item}})">
						<h3>{{item.title}}</h3>
						<p>{{item.addDate}}</p>
					</div>
					</ion-list>
				</div>
				<div ng-if="noticeList.length == 0" class="empty-tip">暂无数据</div>
				<div ng-show="!noticeList" class="spinner-warp"><ion-spinner class="spinner spinner-ios"></ion-spinner></div>
				<ion-infinite-scroll ng-if="isMore" on-infinite="loadMore()" icon="ion-loading-c" distance="1%"> </ion-infinite-scroll>
			</div>
		</div>
	</ion-content> 
</ion-view>