
<div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);"> 
   <div class="typo"> 
  <h2>急速飞艇规则说明</h2>
				<ul>
					<li>该游戏的投注时间、开奖时间和开奖号码与“幸运飞艇”完全同步（官方网）），北京时间（GMT+8）每天白天从中午13:04 开到凌晨04:04，每5分钟开一次奖, 每天开奖180期。</li>
					<li>具体游戏规则如下:</li>
				</ul>
				<ul>
					<li><span class="label">1～10 两面：</span>指 单、双；大、小。</li>
					<li class="stress"><span class="label">单、双：</span>号码为双数叫双，如4、8；号码为单数叫单，如5、9。</li>
					<li class="stress"><span class="label">大、小：</span>开出之号码大于或等于6为大，小于或等于5为小。</li>
					<li class="stress"><span class="label">第一名～第十名 车号指定：</span>每一个车号为一投注组合，开奖结果“投注车号”对应所投名次视为中奖，其余情形视为不中奖。</li>
				</ul>
				<ul>
					<li><span class="label">1～5龙虎 </span></li>
					<li class="stress"><span class="label">冠&nbsp;&nbsp;军 龙/虎：</span>“第一名”车号大于“第十名”车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</li>
					<li class="stress"><span class="label">亚&nbsp;&nbsp;军 龙/虎：</span>“第二名”车号大于“第九名”车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</li>
					<li class="stress"><span class="label">第三名 龙/虎：</span>“第三名”车号大于“第八名”车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</li>
					<li class="stress"><span class="label">第四名 龙/虎：</span>“第四名”车号大于“第七名”车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</li>
					<li class="stress"><span class="label">第五名 龙/虎：</span>“第五名”车号大于“第六名”车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</li>
				</ul>
				<ul>
					<li><span class="label">冠军车号＋亚军车号＝冠亚和值（为3~19)</span></li>
					<li class="stress"><span class="label">冠亚和单双：“冠亚和值”</span>为单视为投注“单”的注单视为中奖，为双视为投注“双”的注单视为中奖，其余视为不中奖。</li>
					<li class="stress"><span class="label">冠亚和大小：“冠亚和值”</span>大于11时投注“大”的注单视为中奖，小于或等于11时投注“小”的注单视为中奖，其余视为不中奖。</li>
					<li class="stress"><span class="label">冠亚和指定：“冠亚和值”</span>可能出现的结果为3～19， 投中对应<span class="label">“冠亚和值”</span>数字的视为中奖，其余视为不中奖。</li>
				</ul>
   </div> 
  </div>