/* CSS Document */
*{
font-size:12px; margin:0; padding:0;
}
.pay_base_info{
border:1px solid #8DB2E3; width:98%; text-align:left;margin-top:20px;
}

table.form{
width:100%;
}
table.form .title td{
padding:15px; font-size:12px; text-align:left; border-bottom:1px solid #8DB2E3;
}
table.form .foot td{
padding:15px; text-align:right;border-top:1px solid #8DB2E3;
}

table.form td{
	padding:4px;
}
table.form td.label{
	width:40%; text-align:right; padding-right:10px; font-size:13px;
}

table.form .cardtype{
display:block;
}

span.cardType, span.bankType{
width:22%; float:left; display:block; margin:2px; padding:5px; border:1px solid #f0f0f0;
}
span.cardType label, span.bankType label{
width:100%; 
}
div.bankTypeDiv{
width:100%;
height:400px;
overflow:auto
}
span.bankType{
width:47%; margin:1px; padding:3px;
}