<section id="main-content">
	<section class="wrapper">
		<ol class="breadcrumb">
			<li><a href="{:Url('Index/index')}"><span
					class="glyphicon glyphicon-home" aria-hidden="true"
					style="color: #f00"></span></a></li>
			<li class="active">实时统计</li>
		</ol>
		<div class="table-agile-info">
			<div class="panel panel-default">
                            
                            <!--- 搜索位置 -->
                <div class="col-sm-3" style="margin-left: 600px">
				<div class="input-group">
					<!-- <form action='' method='get'>
						<input style="width: 185px; height: 33px" type="text"
							class="input-sm form-control" value='{$Think.get.keyword}'
							name="keyword" /> <span class="input-group-btn">
							<button class="btn btn-sm btn-default" type="submit">
								搜索(ID)</button>
						</span>
					</form> -->
				</div>

			</div>
                            
				<div>
					<table class="table" ui-jq="footable"
						ui-options="{
        &quot;paging&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;filtering&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;sorting&quot;: {
          &quot;enabled&quot;: true
        }}">
						<thead>
							<tr>
								<th data-breakpoints="xs">编号</th>
								<th>用户ID</th>
								<th>昵称</th> 
							
							</tr>
						</thead>
						<tbody id="jiazai">
							 
						</tbody>
					</table>
					
				</div>
			</div>
		</div>

	</section>

	
	<script>
	var home_id=<?php  echo $_GET['id']?>;
			setInterval("test()",600);
			function test() {
			    $.ajax({
			             type: "POST",
			             url: "{:Url('Jadax/homeuser')}",
			             data: {id:home_id},
			             dataType: "json",
			             success: function(data){
			             	$('#jiazai').html(data);
			             }
				});
			}
	</script> 