<ion-view view-title="下注明细" class="lottery-list">
	<ion-nav-buttons side="left">
    	<a class="button button-icon icon-prepage" ng-click="back();"></a>
  	</ion-nav-buttons>
	
	<ion-content class="has-header" scroll="false">
		<!-- <div class="tips"><a ng-click="toWeek();" class="text-underline">每周报表</a> &gt; <a>{{statDate}}</a></div> -->
		
		<div class="row text-center no-title pm">
			<div class="col col-33 radiu">彩种</div>
			<div class="col col-20 radiu">笔数</div>
			<div class="col col-20 radiu">下注金额</div>
			<div class="col radiu">输赢</div>
		</div>
		
		<ion-content class="list">
			<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
			
			<div ng-repeat="data in dataList" class="row text-center" ng-click="detail(data.id, data.count);">
				<div class="col col-33 text-center tal ti"><div>{{data.name}}</div></div>
				<div class="col col-20 text-center tal ti" ng-class="{'text-underline':data.count>0}"><div>{{data.count}}</div></div>
				<div class="col col-20 text-center tal ti"><div>{{data.money|money}}</div></div>
				<div class="col text-center tal ti"><div>{{data.win|money}}</div></div>
			</div>
			
			<div ng-show="!dataList" class="spinner-warp"><ion-spinner class="spinner spinner-ios"></ion-spinner></div>
		</ion-content>
	</ion-content>
</ion-view>