<ion-content class="bet-view">
	<div id="sub-navs" ng-init="selectFirstSub();" style="display: none">
		<a class="nav-item" data-id="808900" play-type="HX" min-size="2" max-size="11">此处为了兼容连码的选号方式设定，实际并不显示在页面上</a>
	</div>

	<div class="row text-center"><div class="col title-no">{{shareData.odds.length == 0 ? '合肖' : ('赔率：' + shareData.odds.toString())}}</div></div>
			
	<div class="row">
		<div class="col sub-bet ok" data-id="鼠">
			<div class="bet-content left pd3">鼠</div>
			<div class="right mr10 bet-round" zodiac='鼠' max="48"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col sub-bet ok" data-id="牛">
			<div class="bet-content left pd3">牛</div>
			<div class="right mr10 bet-round" zodiac='牛' max="48"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col sub-bet ok" data-id="虎">
			<div class="bet-content left pd3">虎</div>
			<div class="right mr10 bet-round" zodiac='虎' max="48"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col sub-bet ok" data-id="兔">
			<div class="bet-content left pd3">兔</div>
			<div class="right mr10 bet-round" zodiac='兔' max="48"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col sub-bet ok" data-id="龙">
			<div class="bet-content left pd3">龙</div>
			<div class="right mr10 bet-round" zodiac='龙' max="48"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col sub-bet ok" data-id="蛇">
			<div class="bet-content left pd3">蛇</div>
			<div class="right mr10 bet-round" zodiac='蛇' max="48"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col sub-bet ok" data-id="马">
			<div class="bet-content left pd3">马</div>
			<div class="right mr10 bet-round" zodiac='马' max="48"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col sub-bet ok" data-id="羊">
			<div class="bet-content left pd3">羊</div>
			<div class="right mr10 bet-round" zodiac='羊' max="48"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col sub-bet ok" data-id="猴">
			<div class="bet-content left pd3">猴</div>
			<div class="right mr10 bet-round" zodiac='猴' max="48"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col sub-bet ok" data-id="鸡">
			<div class="bet-content left pd3">鸡</div>
			<div class="right mr10 bet-round" zodiac='鸡' max="48"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col sub-bet ok" data-id="狗">
			<div class="bet-content left pd3">狗</div>
			<div class="right mr10 bet-round" zodiac='狗' max="48"></div>
		</div>
	</div>
	
	<div class="row end">
		<div class="col sub-bet ok" data-id="猪">
			<div class="bet-content left pd3">猪</div>
			<div class="right mr10 bet-round" zodiac='猪' max="48"></div>
		</div>
	</div>
</ion-content>