<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">两面</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="808601"><span class="bet-content">特大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="808602"><span class="bet-content">特小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="808603"><span class="bet-content">特单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="808604"><span class="bet-content">特双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="808605"><span class="bet-content">特合大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="808606"><span class="bet-content">特合小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="808607"><span class="bet-content">特合单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="808608"><span class="bet-content">特合双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="808615"><span class="bet-content">特天肖</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="808616"><span class="bet-content">特地肖</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="808617"><span class="bet-content">特前肖</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="808618"><span class="bet-content">特后肖</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="808619"><span class="bet-content">特家肖</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="808620"><span class="bet-content">特野肖</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="808609"><span class="bet-content">特尾大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="808610"><span class="bet-content">特尾小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="808621"><span class="bet-content">总和单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="808622"><span class="bet-content">总和双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="808623"><span class="bet-content">总和大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="808624"><span class="bet-content">总和小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="808611"><span class="bet-content">特大单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="808612"><span class="bet-content">特大双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="808613"><span class="bet-content">特小单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="808614"><span class="bet-content">特小双</span> <span class="bet-item">1.982</span></div>
	</div>
</ion-content>