<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">特肖</div></div>
			
	<div class="row">
		<div class="col bet ok" data-id="808801">
			<div class="bet-content left pd3">鼠</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='鼠'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="808802">
			<div class="bet-content left pd3">牛</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='牛'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="808803">
			<div class="bet-content left pd3">虎</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='虎'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="808804">
			<div class="bet-content left pd3">兔</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='兔'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="808805">
			<div class="bet-content left pd3">龙</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='龙'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="808806">
			<div class="bet-content left pd3">蛇</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='蛇'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="808807">
			<div class="bet-content left pd3">马</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='马'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="808808">
			<div class="bet-content left pd3">羊</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='羊'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="808809">
			<div class="bet-content left pd3">猴</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='猴'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="808810">
			<div class="bet-content left pd3">鸡</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='鸡'></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col bet ok" data-id="808811">
			<div class="bet-content left pd3">狗</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='狗'></div>
		</div>
	</div>
	
	<div class="row end">
		<div class="col bet ok" data-id="808812">
			<div class="bet-content left pd3">猪</div>
			<div class="bet-item left lh14">2.09</div>
			<div class="right mr10 bet-round" zodiac='猪'></div>
		</div>
	</div>
</ion-content>