<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">五行</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="809301"><span class="bet-content">金</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="809302"><span class="bet-content">木</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="809303"><span class="bet-content">水</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="809304"><span class="bet-content">火</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row end">
		<div class="col bet ok" data-id="809305"><span class="bet-content">土</span> <span class="bet-item">1.982</span></div>
	</div>
	
</ion-content>