<ion-content class="bet-view">
	<div id="sub-navs" ng-init="selectFirstSub();" style="display: none">
		<a class="nav-item" data-id="809800" play-type="HX" min-size="5" max-size="12">此处为了兼容连码的选号方式设定，实际并不显示在页面上</a>
	</div>

	<div class="row text-center"><div class="col title-no">{{shareData.odds.length == 0 ? '自选不中' : ('赔率：' + shareData.odds.toString())}}</div></div>
			
	<div class="row">
		<div class="col col-20 sub-bet ok" data-id="1"><div class="bet-content"><span class="round-3 red">01</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="2"><div class="bet-content"><span class="round-3 red">02</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="3"><div class="bet-content"><span class="round-3 blue">03</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="4"><div class="bet-content"><span class="round-3 blue">04</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="5"><div class="bet-content"><span class="round-3 green">05</span></div></div>
	</div>
	
	<div class="row">
		<div class="col col-20 sub-bet ok" data-id="6"><div class="bet-content"><span class="round-3 green">06</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="7"><div class="bet-content"><span class="round-3 red">07</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="8"><div class="bet-content"><span class="round-3 red">08</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="9"><div class="bet-content"><span class="round-3 blue">09</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="10"><div class="bet-content"><span class="round-3 blue">10</span></div></div>
	</div>
	
	<div class="row">
		<div class="col col-20 sub-bet ok" data-id="11"><div class="bet-content"><span class="round-3 green">11</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="12"><div class="bet-content"><span class="round-3 red">12</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="13"><div class="bet-content"><span class="round-3 red">13</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="14"><div class="bet-content"><span class="round-3 blue">14</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="15"><div class="bet-content"><span class="round-3 blue">15</span></div></div>
	</div>
	
	<div class="row">
		<div class="col col-20 sub-bet ok" data-id="16"><div class="bet-content"><span class="round-3 green">16</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="17"><div class="bet-content"><span class="round-3 green">17</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="18"><div class="bet-content"><span class="round-3 red">18</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="19"><div class="bet-content"><span class="round-3 red">19</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="20"><div class="bet-content"><span class="round-3 blue">20</span></div></div>
	</div>
	
	<div class="row">
		<div class="col col-20 sub-bet ok" data-id="21"><div class="bet-content"><span class="round-3 green">21</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="22"><div class="bet-content"><span class="round-3 green">22</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="23"><div class="bet-content"><span class="round-3 red">23</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="24"><div class="bet-content"><span class="round-3 red">24</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="25"><div class="bet-content"><span class="round-3 blue">25</span></div></div>
	</div>
	
	<div class="row">
		<div class="col col-20 sub-bet ok" data-id="26"><div class="bet-content"><span class="round-3 blue">26</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="27"><div class="bet-content"><span class="round-3 green">27</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="28"><div class="bet-content"><span class="round-3 green">28</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="29"><div class="bet-content"><span class="round-3 red">29</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="30"><div class="bet-content"><span class="round-3 red">30</span></div></div>
	</div>
	
	<div class="row">
		<div class="col col-20 sub-bet ok" data-id="31"><div class="bet-content"><span class="round-3 blue">31</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="32"><div class="bet-content"><span class="round-3 green">32</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="33"><div class="bet-content"><span class="round-3 green">33</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="34"><div class="bet-content"><span class="round-3 red">34</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="35"><div class="bet-content"><span class="round-3 red">35</span></div></div>
	</div>
	
	<div class="row">
		<div class="col col-20 sub-bet ok" data-id="36"><div class="bet-content"><span class="round-3 blue">36</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="37"><div class="bet-content"><span class="round-3 blue">37</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="38"><div class="bet-content"><span class="round-3 green">38</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="39"><div class="bet-content"><span class="round-3 green">39</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="40"><div class="bet-content"><span class="round-3 red">40</span></div></div>
	</div>
	
	<div class="row">
		<div class="col col-20 sub-bet ok" data-id="41"><div class="bet-content"><span class="round-3 blue">41</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="42"><div class="bet-content"><span class="round-3 blue">42</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="43"><div class="bet-content"><span class="round-3 green">43</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="44"><div class="bet-content"><span class="round-3 green">44</span></div></div>
		<div class="col col-20 sub-bet ok" data-id="45"><div class="bet-content"><span class="round-3 red">45</span></div></div>
	</div>
	
	<div class="row end">
		<div class="col col-25 sub-bet ok" data-id="46"><div class="bet-content"><span class="round-3 red">46</span></div></div>
		<div class="col col-25 sub-bet ok" data-id="47"><div class="bet-content"><span class="round-3 blue">47</span></div></div>
		<div class="col col-25 sub-bet ok" data-id="48"><div class="bet-content"><span class="round-3 blue">48</span></div></div>
		<div class="col col-25 sub-bet ok" data-id="49"><div class="bet-content"><span class="round-3 green">49</span></div></div>
	</div>
</ion-content>