<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">第一球</div></div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="616401"><div class="bet-content round-1">1</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="616402"><div class="bet-content round-1">2</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="616403"><div class="bet-content round-1">3</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="616404"><div class="bet-content round-1">4</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="616405"><div class="bet-content round-1">5</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="616406"><div class="bet-content round-1">6</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="616407"><div class="bet-content round-1">7</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="616408"><div class="bet-content round-1">8</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="616409"><div class="bet-content round-1">9</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="616410"><div class="bet-content round-1">10</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="616411"><div class="bet-content round-1">11</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="616412"><div class="bet-content round-1">12</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="616413"><div class="bet-content round-1">13</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="616414"><div class="bet-content round-1">14</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="616415"><div class="bet-content round-1">15</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="616416"><div class="bet-content round-1">16</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="616417"><div class="bet-content round-1">17</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="616418"><div class="bet-content round-1">18</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="616419"><span class="bet-content round-1">19</span> <span class="bet-item">19.8</span></div>
		<div class="col col-50 bet ok" data-id="616420"><span class="bet-content round-1">20</span> <span class="bet-item">19.8</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="616421"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="616422"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="616423"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="616424"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="616427"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="616428"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="616425"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="616426"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>

	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="616436"><span class="bet-content">龙</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="616437"><span class="bet-content">虎</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="616436"><span class="bet-content">东</span> <span class="bet-item">3.9</span></div>
		<div class="col col-50 bet ok" data-id="616437"><span class="bet-content">南</span> <span class="bet-item">3.9</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="616438"><span class="bet-content">西</span> <span class="bet-item">3.9</span></div>
		<div class="col col-50 bet ok" data-id="616439"><span class="bet-content">北</span> <span class="bet-item">3.9</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-33 bet ok" data-id="616440"><div class="bet-content">中</div><div class="bet-item">2.8</div></div>
		<div class="col col-33 bet ok" data-id="616441"><div class="bet-content">发</div><div class="bet-item">2.8</div></div>
		<div class="col col-33 bet ok" data-id="616442"><div class="bet-content">白</div><div class="bet-item">3</div></div>
	</div>
</ion-content>